.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    background-color: cadetblue;
}
body {
    font-family: cursive;
    margin: 0;
}

.logo_img {
    position: relative;
}

.links a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    color: white;
}
.hero_banner {
    width: 100%;
}
.hero_banner img {
    width: 100%;

    position: relative;
}
.about_products {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 20px;
}
.about_products div {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    background-color: #f1e7e7;
    padding: 14px;
    border-radius: 10px;
}

.offer_banner {
    background-color: orange;
    color: white;
    padding: 0px 20px;

    font-family: "Courier New", Courier, monospace;
    position: absolute;
    top: 0;
    right: 0;
}
.main_product_section {
    margin-top: 48px;
}

.product_info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px;
    background-color: #efbbcf;
}
.product_info img {
    height: 300px;
    width: 300px;

    position: relative;
}
.product_info div {
    width: 600px;
    background-color: white;
    padding: 24px;
    border-radius: 10px;

    position: relative;
}
.product_info div h3 {
    font-size: 32px;
}
.product_info div p {
    font-size: 20px;
}
.product_section {
    display: flex;
    justify-content: space-evenly;
}
.product_card {
    background-color: #ecf4e8;
    padding: 24px;
    border-radius: 10px;
    width: 300px;
    position: relative;
}
.product_card2 {
    background-color: #ecf4e8;
    padding: 24px;
    border-radius: 10px;
    width: 300px;
    position: relative;
}

.product_card p {
    height: 40px;
    overflow: hidden;
    color: grey;
}

.product_card2 p {
    height: 40px;
    overflow: hidden;
    color: grey;
}

.product_card div {
    display: flex;
    justify-content: space-between;
}

.product_card2 div {
    display: flex;
    justify-content: space-between;
}
.product_card img {
    height: 350px;
    object-fit: cover;
}
.product_card2 img {
    height: 350px;
    object-fit: cover;
}
.product_card button {
    width: 100%;
    border: none;
    padding: 20px;
    background-color: white;
    border-radius: 28px;
    margin-top: 18px;
}
.product_card button:hover {
    cursor: pointer;
    box-shadow: inset;
    scale: 1.1;
    transition: all 0.4s;
}

.product_card2 button {
    width: 100%;
    border: none;
    padding: 20px;
    background-color: white;
    border-radius: 28px;
    margin-top: 18px;
}
.product_card2 button:hover {
    cursor: pointer;
    box-shadow: inset;
    scale: 1.1;
    transition: all 0.4s;
}

.icons_with_text_sections {
    text-align: center;
    width: 250px;
    height: 160px;
    overflow: hidden;
}
.icons_with_text {
    display: flex;
    justify-content: space-evenly;
    margin: 24px 0px;
    padding: 24px 0px;
    background-color: #ffe2e2;
}
.icons_with_text_sections img:hover {
    scale: 1.2;
    transition: all 0.4s;
}

.footer {
    background-color: #ffddab;
    margin-top: 20px;
}

.footer_sections {
    display: flex;
    justify-content: space-evenly;
    padding: 48px 0px;
}
.footer_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_links a {
    text-decoration: none;
    color: black;
}
.copyrights {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: solid 1px gray;
    margin-top: 20px;
    color: gray;
}

@media (max-width: 480px) {
    .product_info {
        flex-direction: column;
        padding: 28px;
    }
    .product_info img {
        height: 150px;
        width: 150px;
    }
    .product_info div {
        width: 100%;
        background-color: white;
        padding: 14px;
    }
    .about_products {
        flex-direction: column;
    }
    .about_products div {
        width: auto;
    }
    .product_section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer_sections {
        flex-direction: column;
        gap: 24px;
        padding: 20px 10px;
    }
    .footer_links {
        border-bottom: solid 1px gray;
        padding-bottom: 24px;
    }
    .copyrights {
        border: none;
        margin: 0;
    }
    .icons_with_text {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .logo_img img {
        height: 50px;
        width: 50px;
    }
    .links a {
        font-size: small;
    }
}
